@inherits System.Web.Mvc.WebViewPage

@{
	Layout = "~/Views/Shared/_LayoutRazor.cshtml";
Page.Title = "Titulo pagina razor";
}

<form id="teste" action="http://www.google.com" method="get">
	<input type="submit" value="Google" />
</form>
<h1>Razor</h1>